<!-- <app-header></app-header> -->
<!--

<div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h3>Manage Menu</h3>
        <p-menu [model]="items"></p-menu>
      </div>
      <div class="col-sm-9">
        <h3 style="margin-left: -16px;">{{menuHeading}}</h3>


          <ng-container for="Manage-Story" *ngIf="menuHeading === 'EYH - Manage Story'" class="row tab-menu-view hide-tab" >
            <app-manage-story></app-manage-story>
          </ng-container>
          
          <ng-container for="Manage-Donation" *ngIf="menuHeading === 'EYH - Manage Donation'" class="row tab-menu-view hide-tab">
            <app-manage-donation></app-manage-donation>
          </ng-container>

          <ng-container for="Home-Info" *ngIf="menuHeading === 'EYH - Orphanage / Oldage Homes Info'" class="row tab-menu-view hide-tab">
            <app-homes-info></app-homes-info>
          </ng-container>

          <ng-container for="Upcoming-Events" *ngIf="menuHeading === 'EYH - Upcoming Events'" class="row tab-menu-view hide-tab">
            <app-upcoming-events></app-upcoming-events>
          </ng-container>

          <ng-container for="Your-Contribution" *ngIf="menuHeading === 'EYH - Your Contribution'" class="row tab-menu-view hide-tab">
            <app-your-contribution></app-your-contribution>
          </ng-container>

          <ng-container for="Contribute-To-EYH" *ngIf="menuHeading === 'EYH - Contribute To Expand-Your-Hands'" class="row tab-menu-view hide-tab">
            <app-contribute-to-eyh></app-contribute-to-eyh>
          </ng-container>

          <ng-container for="Join-To-EYH" *ngIf="menuHeading === 'EYH - Join To Expand-Your-Hands'" style="display:none;" class="row tab-menu-view hide-tab">
            <app-join-to-eyh></app-join-to-eyh>
          </ng-container>
         
      </div>
    </div>
  </div>
 
-->
