<div class="card">
        <div class="card-header text-center bg-success"><h6>Running Balance Details</h6></div>
        <div class="card-body text-center">
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="bg-primary-cus">Total Contributed</th>
                                <th class="bg-danger-cus">Total Donated</th>
                                <th class="bg-info">Current Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>{{toatlcontributed}}</b></td>
                                <td><b>{{totaldonated}}</b></td>
                                <td><b>{{toatlcontributed-totaldonated}}</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
</div>