<!-- <app-header></app-header> -->
<div class="container">
  <div class="card-group">

    <div *ngFor="let story of stories" class="card" style="max-width: 18rem;">
      <img class="card-img-top" src="{{story.imageData}}" alt="Card image" style="
      display: block;
      max-width:100%;
      max-height:200px;
      width: auto;
      height: auto;">
      <div class="card-body">
        <h4 class="card-title">{{story.storyTitle}}</h4>
        <p class="card-text">{{story.story | slice:0:50}}</p>
        <a (click)="viewStoryHandler(story,stories)" href="story/{{story.id}}" class="btn btn-primary">Click to read more</a>
        <!-- <a href="story/{{story.id}}" class="btn btn-primary">Click to read more</a> -->
      </div>
    </div>

  </div>

</div>